html {
  height: 100vh;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#main {
  display: flex;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-content: center;
}

body::after {
  content: "";
  background: url(https://res.cloudinary.com/dmujv3o3b/image/upload/v1568826671/picFCCrandomQuoterProject.jpg)
    center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  opacity: 0.5;
}

#quote-box {
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  height: fit-content;
  font-size: 1rem;
}

#text {
  display: none;
  margin: 5px;
  text-align: justify;
  text-indent: 2.5em;
  color: #2a2474;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
    Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 300%;
  font-weight: bolder;
  text-shadow: cyan 1px 0 10px;
  line-height: 1.3;
}

#author {
  display: none;
  text-align: right;
  margin-right: 7px;
  font-family: "Brush Script MT", cursive;
  font-size: 250%;
  font-weight: bolder;
  color: #554d4d;
}

#buttons {
  position: absolute;
  width: 80%;
  bottom: 5%;
  left: 10%;
  display: flex;
  justify-content: space-between;
}

#new-quote {
  margin: 5px;
  background-color: white;
  opacity: 0.5;
  color: #424e8f;
  border: none;
  font-weight: bolder;
  font-family: "Nimbus Roman No9 L", cursive;
}

#button-tweet {
  margin: 5px;
  background-color: white;
  opacity: 0.5;
}

@media only screen and (min-width: 900px) {
  #button-tweet:hover {
    color: #2a2474;
    text-shadow: cyan 1px 0 10px;
    opacity: 1;
    background-color: #cfa0a0;
    cursor: pointer;
  }
  #new-quote:hover {
    color: #2a2474;
    text-shadow: cyan 1px 0 5px;
    opacity: 1;
    background-color: #cfa0a0;
    border: none;
    cursor: pointer;
  }
}
#attribution {
  font-size: 70%;
  opacity: 0.5;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}
